body { 
    margin: 0px; 
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 100%;
    padding: 1%;
    text-align: center;
    margin: auto;
    justify-content: center;
}
nav {
    width: 100%;
    /*padding: 1%;*/
    text-align: center;
    background-color: white;
    border: 2px solid;
}
nav li {
 padding: 2%;
 border: 1px solid;
}
ul {
    /* width: 100%; */
    /* margin-left: auto; */
    border: 1px solid;
}
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 800px;
    margin: 0 auto;
    box-shadow: 5px;
}
footer {
    background-color: white;
    padding-right: 10%;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
footer li {
    padding: 3%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
h1 {
    text-align: center;
}